@model TripBookingBE.Models.CustomerReviewTrip

@{
    ViewData["Title"] = "Booking Details";
}

<h1>Details</h1>

@await Html.PartialAsync("_BookingForm.cshtml", Model, new ViewDataDictionary(ViewData){
    {"AllowedSave",false}
})
