/* _content/TripBookingBE.Web/Views/Routes/Index.cshtml.rz.scp.css */
.table[b-3enhf7uiu3] {
  table-layout: fixed !important;
}

th[b-3enhf7uiu3],
td[b-3enhf7uiu3] {
  width: 14rem;
  overflow-wrap: break-word;
  height: 7rem;
}
/* _content/TripBookingBE.Web/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ruhc0d119o] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ruhc0d119o] {
  color: #0077cc;
}

.btn-primary[b-ruhc0d119o] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ruhc0d119o], .nav-pills .show > .nav-link[b-ruhc0d119o] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ruhc0d119o] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ruhc0d119o] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ruhc0d119o] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ruhc0d119o] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ruhc0d119o] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
