@model TripBookingBE.Models.CustomerBookTrip

@if (ViewData["statusCode"] != null && ViewData["errorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        <p><b>Status Code: @(ViewData["statusCode"].ToString())</b></p>
        <p><b>Message: @(ViewData["errorMessage"].ToString())</b></p>
    </div>
}


<h4>Booking</h4>
<hr />
<form asp-action="CreateOrUpdate" method="post" class="container">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="DateCreated" />
    <input type="hidden" asp-for="DateModified" />
    <input type="hidden" asp-for="RowVersion" />
    <div class="form-group col col-12">
        <label for="filter-customerId" class="form-label" style="font-weight: bold;">Customer: </label>
        <select disabled=@(ViewData["AllowedSave"].ToString().Equals("False"))
            class="form-control col col-12 form-select" asp-for="CustomerId" id="filter-customerId"
            asp-items="ViewBag.CustomerOptions">
            <option value=@(null)>Default</option>
        </select>
    </div>
    <div class="form-group col col-12">
        <label for="filter-tripId" class="form-label" style="font-weight: bold;">Trip: </label>
        <select disabled=@(ViewData["AllowedSave"].ToString().Equals("False"))
            class="form-control col col-12 form-select" asp-for="TripId" id="filter-tripId"
            asp-items="ViewBag.TripOptions">
            <option value=@(null)>Default</option>
        </select>
    </div>
    <div class="form-group col col-12"></div>
        <label asp-for="PlaceNumber" class="control-label col col-12" style="font-weight: bold;"></label>
        <input readonly=@(ViewData["AllowedSave"].ToString().Equals("False")) asp-for="PlaceNumber"
            class="form-control col col-12" />
        <span asp-validation-for="PlaceNumber" class="text-danger col col-12"></span>
    </div>
    <div class="form-group col col-12 mt-2 justify-content-center">
        <input disabled=@(ViewData["AllowedSave"].ToString().Equals("False")) type="submit" value="Save"
            class="btn btn-primary" />
        <a class="btn btn-dark" asp-action="Index">Back to List</a>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}