@model TripBookingBE.Models.Trip

@{
    ViewData["Title"] = Model.Id==0?"Create":"Edit";
}

<h1>@(Model.Id==0?"Create":"Edit")</h1>

@await Html.PartialAsync("_TripForm.cshtml", Model, new ViewDataDictionary(ViewData){
    {"AllowedSave",true}
})